<form (submit)='onSubmit($event, username.value, password.value)' >
  <div class="form-group">
    <label  for='username'>User Name</label>
    <input  type="email" class="form-control" id="username"  placeholder="Enter email"  [value]="emailField" (input)="UpdateEmail($event)" novalidate #username>
    <div *ngIf='!emailValid && !emailEmpty' class="alert alert-danger" role="alert">
      Email address should be a valid one.
    </div>
    <div *ngIf='emailValid' class="alert alert-success" role="alert">
     valid email address
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [value]="passwordField" (input)="UpdatePassword($event)" #password>
    <div *ngIf='!strongPassword && !passwordEmpty' class="alert alert-danger" role="alert">
      the provided password is too weak.
    </div>
    <div *ngIf='strongPassword' class="alert alert-success" role="alert">
      Strong password!
    </div>
  </div>
  <button type="submit" class="btn btn-primary" value="Anmelden" [disabled]="!formProperlyFilledIn()">Submit</button>
</form>

<div *ngIf='currentUsername'>UserName/Email: {{emailField}}</div>
<div *ngIf='currentPassword'>Password: {{passwordField}}</div>
